{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}


{% block title %}
Home
{% endblock %}

{% block content %}

<!-- Alerts -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary d-flex justify-content-between sticky-top" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!--Site Banner-->
<div class="container-fluid hero-container d-flex justify-content-evenly p-1">
    <section class="hero-header-container">
    <h1 class="oxanium-c hero-header">Your Place To Find Great Games! <br>&<br> <em>Keep Track of The Games You Want To Play</em></h1>
    </section>
    <div class="col-lg-4 col-sm-6 hero-image-container">
     <div class="card text-bg-dark hero-image-card overflow-scroll">
         {% if random_games[random_number]['cover'] is defined %}
            <img src="https://images.igdb.com/igdb/image/upload/t_cover_big_2x/{{random_games[random_number]['cover']['image_id']}}.jpg" class="card-img hero-game-image" alt="...">
         {% else %}
            <img src="../static/images/controller_favicon.png">
         {% endif %}
         <div class="card-img-overlay overflow-scroll">
        <h5 class="card-title">
            Featured Game:
            <a href="{{ url_for('game_page', game_id=random_games[random_number]['id']) }}" style="text-decoration: none; color: #BBE1FA;">
            <em>{{ random_games[random_number]["name"] }}
            ({% if random_games[random_number]["release_dates"] is defined %} {{ random_games[random_number]["release_dates"][0]["y"] }} {% endif %}
            {% for platform in random_games[random_number]["platforms"] %} {{ platform['abbreviation'] }} {% endfor %})
            </em>
            </a>
        </h5>
        <p class="card-text">{{ random_games[random_number]["summary"] }}</p>
        <!-- Screenshots -->
        <p class="card-text"><strong>Screenshots</strong></p>
          {% if random_games[random_number]["screenshots"] | length > 0 %}
            {% for screenshot in random_games[random_number]["screenshots"] %}
                    <img src="https://images.igdb.com/igdb/image/upload/t_screenshot_med/{{ screenshot.image_id }}.jpg" class="card-img m-2 featured-game-screenshots">
            {% endfor %}
          {% else %}
            <p>No Screenshots provided</p>
          {% endif %}
        <!-- Video -->
          <p class="card-text"><strong>Videos</strong></p>
          {% if random_games[random_number]["videos"] | length > 0 %}
                {% for video in random_games[random_number]["videos"] %}
                    <iframe src="https://www.youtube.com/embed/{{ video['video_id'] }}" class="featured-video card-img m-2" width="853" height="480" frameborder="0" allowfullscreen></iframe>
                {% endfor %}
          {% else %}
            <p>No Videos Provided</p>
          {% endif %}
      </div>
    </div>
    </div>
</div>


<!--TODO: Consider making the cards a template file instead of reusing them over and over again in each row-->
<!--One container with multiple columns to align-->
<div class="container-fluid games-container overflow-x-hidden">

 <div class="row row-cols-2">
 <!--Must Play Section-->
  <div class="col-2">
    <h4 class="main-header m-2">Must Play Titles </h4>
        <ul>
         {% if top_games | length > 1 %}
            {% for game in top_games %}
                <li>
                    <div class="must-play-list-item d-flex justify-content-between align-items-center p-3">
                        <a href="{{ url_for('game_page', game_id=game['id']) }}" class=""><strong>{{ game["name"] }}</strong> <br> ({{ game["release_dates"][0]["human"] }})</a>
                        <img src="https://images.igdb.com/igdb/image/upload/t_cover_small/{{game['cover']['image_id']}}.jpg" alt="game cover">
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

<!--  User Tracked Games  -->
 <div class="col-10">
   <div class="row">
    {% if current_user.is_authenticated %}
     <h1 class="main-header"><strong>{{ current_user.username | upper}}'s</strong> Followed Games </h1> <hr>
    {% endif %}
    <div class="d-flex flex-row overflow-x-scroll">
        {% if current_user.is_authenticated %}
            {% if current_user.saved_game_data["game_data"] | length > 0 %}
                {% for game in current_user.saved_game_data["game_data"] %}
                    <div class="col-lg-2 col-md-2 col-sm-4 card border-3 m-2 featured-card wrap overflow-scroll p-2">
                        {% if current_user.user_games_saved["added_games"] is defined and game["id"] in current_user.user_games_saved["added_games"] %}
                            <a type="remove_button" class="btn btn-danger sticky-top m-1" data-bs-toggle="remove_button" href="{{ url_for('remove_game', game_id=game['id']) }}">Remove Game</a>
                        {% endif %}

                        {% if game["cover"] is defined %}
                            <img class="card-img" src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game['cover']['image_id']}}.jpg" alt="game cover">
                        {% else %}
                            <img class="card-img" src="../static/images/controller_favicon.png">
                        {% endif %}

                            <p class="card-title m-2">
                                <a href="{{ url_for('game_page', game_id=game['id']) }}" style="text-decoration:none; color:#BBE1FA;">
                                    <strong class="m-0 p-0">{{ game["name"] }}</strong>
                                    <br>
                                    {% if game["release_dates"] is defined %} ({{ game["release_dates"][0]["human"] }}) {% endif %}
                                </a>
                                <br>
                                {% for genre in game["genres"] %} <span class="badge rounded-pill bg-primary">{{ genre["name"] }}</span> {% endfor %}
                                <br>
                                {% if game["total_rating"] is defined %}
                                <strong>
                                    {% set rating = game["total_rating"] / 10.00 | round(0, 'floor') | float %}
                                     {{ rating | round(1, 'floor') }}
                                    {% if rating >= 9.0 and rating <= 10.0 %}
                                        ★ ★ ★ ★ ★
                                    {% elif rating >= 8.0 and rating < 9.0 %}
                                        ★ ★ ★ ★ ☆
                                    {% elif rating >= 6.5 and rating < 8.0  %}
                                        ★ ★ ★ ☆ ☆
                                    {% elif rating >= 5.0 and rating < 6.5  %}
                                        ★ ★ ☆ ☆ ☆
                                    {% else %}
                                        ★ ☆ ☆ ☆ ☆

                                    {% endif %}
                                    <br> Ratings Count: {{ game["total_rating_count"] }}
                                </strong>
                                {% else %}
                                <strong><em>No Ratings Yet</em></strong>
                                {% endif %}
                                <br>

                            <!--Get Platforms-->
                            {% for platform in game.platforms %}
                                <span class="badge rounded-pill bg-primary">{{ platform.abbreviation }}</span>
                            {% endfor %}

                            </p>
                            <p class="card-body">
                                {{ game["summary"]}}
                            </p>

                          <!-- Screenshots -->
                          <p class="card-text"><strong>Screenshots</strong></p>
                          {% if game["screenshots"] | length > 0 %}
                            {% for screenshot in game["screenshots"] %}
                              <img src="https://images.igdb.com/igdb/image/upload/t_screenshot_med/{{ screenshot.image_id }}.jpg" class="card-img m-2 featured-game-screenshots">
                            {% endfor %}
                          {% else %}
                            <p>No Screenshots provided</p>
                          {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
        </div>
    </div>

    <!-- Discover section -->
    <div class="col">
    <h1 class="main-header">Discover a New Favorite Game!</h1>
    <h4 class="main-sub-header"><em>Games That Other Players Love - Old and New</em></h4><hr>
    <div class="btn-group">
        <!-- Refresh game list button -->
        <a href="{{ url_for('update_api_data') }}"><button class="btn btn-success m-2" id="newGames" type="button">Get New Games</button></a>

        <!-- Loading Spinner -->
        <div class="spinner-border" role="status" id="loadingSpinner" style="visibility:hidden; display:none;">
            <span class="visually-hidden" >Loading...</span>
        </div>

        <!-- Discover New Games Form/Section -->
        <button class="btn btn-primary m-2" id="discoverBtn" type="button" style="max-height:4.6vh;">Discover</button>
        <div class="discovery-section" id="discoverSection" style="display:none;">
            {{ render_form(form=discover_form, id="discovery") }}

        <!-- Loading Spinner -->
        <div class="spinner-border" role="status" id="loadingSpinnerDiscover" style="visibility:hidden; display:none;">
            <span class="visually-hidden" >Loading...</span>
        </div>
        </div>

        <!-- Filter dropdown list - Use to sort and filter results -->
        <div class="dropdown d-block discover-filter">
            <button class="btn btn-primary dropdown-toggle m-2" type="button" data-bs-toggle="dropdown">Filter</button>
            <ul class="dropdown-menu">
                <li>
                    <div class="dropdown-item platform-dropdown"></div>
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="platform-dropdown">Platform</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item">Playstation 4</a></li>
                    </ul>
                </li>
            </ul>
        </div>
      </div>

    <!--Featured Games -->
    <div class="featured-games-row d-flex flex-row overflow-x-scroll">
        {% for game in random_games %}
            <div class="col-lg-2 col-md-2 col-sm-4 card border-3 m-2 featured-card wrap overflow-scroll p-2">
                <!-- Add game button -->
                {% if current_user.user_games_saved is defined and game["id"] not in current_user.user_games_saved["added_games"] %}
                    <a type="add_button" class="btn btn-success sticky-top m-1" data-bs-toggle="add_button" href="{{ url_for('add_game', game_id=game['id']) }}" onfocus>Add Game</a>
                {% elif current_user.user_games_saved is defined and game["id"] in current_user.user_games_saved["added_games"] %}
                    <a type="button" class="btn btn-secondary sticky-top" aria-disabled="true" data-bs-toggle="button" href="{{ url_for('add_game', game_id=game['id']) }}">Game Added</a>
                {% else %}
                    <a type="add_button" class="btn btn-info sticky-top" data-bs-toggle="add_button" href="{{ url_for('login') }}">Log in to Add Game</a>
                {% endif %}

                {% if game["cover"] is defined %}
                <img class="card-image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game['cover']['image_id']}}.jpg" alt="game cover">
                {% else %}
                <img class="card-img" src="../static/images/controller_favicon.png">
                {% endif %}

                    <p class="card-title m-2">
                        <a href="{{ url_for('game_page', game_id=game['id']) }}" style="text-decoration:none; color:#BBE1FA;">
                            <strong class="m-0 p-0">{{ game["name"] }}</strong>
                            <br>
                            {% if game["release_dates"] is defined %} ({{ game["release_dates"][0]["human"] }}) {% endif %}
                        </a>
                        <br>
                        {% for genre in game["genres"] %} <span class="badge rounded-pill bg-primary">{{ genre["name"] }}</span> {% endfor %}
                        <br>
                        {% if game["total_rating"] is defined %}
                        <strong>
                            {% set rating = game["total_rating"] / 10.00 | round(0, 'floor') | float %}
                            <!-- round again to get desired 0.0 ratings -->
                             {{ rating | round(1, 'floor') }}
                            {% if rating >= 9.0 and rating <= 10.0 %}
                                ★ ★ ★ ★ ★
                            {% elif rating >= 8.0 and rating < 9.0 %}
                                ★ ★ ★ ★ ☆
                            {% elif rating >= 6.5 and rating < 8.0  %}
                                ★ ★ ★ ☆ ☆
                            {% elif rating >= 5.0 and rating < 6.5  %}
                                ★ ★ ☆ ☆ ☆
                            {% else %}
                                ★ ☆ ☆ ☆ ☆

                            {% endif %}
                            <br> Ratings Count: {{ game["total_rating_count"] }}
                        </strong>
                        {% else %}
                        <strong><em>No Ratings Yet</em></strong>
                        {% endif %}
                        <br>

                    <!--Get Platforms-->
                    {% for platform in game.platforms %}
                       <span class="badge rounded-pill bg-primary">{{ platform.abbreviation }}</span>
                    {% endfor %}

                    </p>
                    <p class="card-body">
                        {{ game["summary"]}}
                    </p>

                  <!-- Screenshots -->
                  <p class="card-text"><strong>Screenshots</strong></p>
                  {% if game["screenshots"] | length > 0 %}
                    {% for screenshot in game["screenshots"] %}
                      <img src="https://images.igdb.com/igdb/image/upload/t_screenshot_med/{{ screenshot.image_id }}.jpg" class="card-img m-2 featured-game-screenshots">
                    {% endfor %}
                  {% else %}
                    <p>No Screenshots provided</p>
                  {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

    <!-- Upcoming Games -->
    <div class="col">
    <h1 class="main-header">Upcoming Highly Anticipated Releases</h1>
        <hr>
    <div class="d-flex flex-row nowrap overflow-x-scroll">
        {% for game in upcoming_games %}
            <!--use if statement as games will still sometimes populate without date and with dates before 2024-->
            <!-- TODO remove the hardcoded dates at some point (hardcoded month in query) -->
            {% if game["game"] and game["game"]["release_dates"][0]['y'] is defined %}
                {% if game["game"]["release_dates"][0]['y'] >= 2024 %}
                <div class="col-lg-2 col-md-2 col-sm-4 card border-3 m-2 featured-card wrap overflow-scroll p-2">
                    <button class="btn btn-info sticky-top m-1">Track Game</button>
                    {% if game["game"]["cover"] is defined %}
                    <img class="card-image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game['game']['cover']['image_id']}}.jpg" alt="game cover">
                    {% endif %}

                        <p class="card-title m-2">
                            <a href="{{ url_for('game_page', game_id=game['game']['id']) }}" style="text-decoration:none; color:#BBE1FA;">{{ game["game"]["name"] }}</a>
                            <br>
                            Coming Out: {{game['game']['release_dates'][0]['m']}}/{{ game['game']['release_dates'][0]['y'] }}
                            <br><br>
                            {{ game["game"]["summary"] }}

                        <!--Get Platforms-->
                        {% for platform in game.platforms %}
                            {{ platform.abbreviation }}
                        {% endfor %}

                         </p>
                            <p class="card-body">
                                {{ game["summary"]}}
                            </p>

                          <!-- Screenshots -->
                          <p class="card-text"><strong>Screenshots</strong></p>
                          {% if game["game"]["screenshots"] | length > 0 %}
                            {% for screenshot in game["game"]["screenshots"] %}
                              <img src="https://images.igdb.com/igdb/image/upload/t_screenshot_med/{{ screenshot.image_id }}.jpg" class="card-img m-2 featured-game-screenshots">
                            {% endfor %}
                          {% else %}
                            <p>No Screenshots provided</p>
                          {% endif %}

                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}


